In [1]:
import pandas as pd 

file_path1 = r"C:\Users\lebda\Downloads\epl_results_2022-23.csv"
file_path2 = r"C:\Users\lebda\Downloads\soccer21-22.csv"

df1 = pd.read_csv(file_path1)
df2 = pd.read_csv(file_path2)

print(df1.head())
print(df2.head()) #initialize my two datasets and check if they are uploaded properly

         Date   Time        HomeTeam     AwayTeam  FTHG  FTAG FTR  HTHG  HTAG  \
0  05/08/2022  20:00  Crystal Palace      Arsenal     0     2   A     0     1
1  06/08/2022  12:30          Fulham    Liverpool     2     2   D     1     0
2  06/08/2022  15:00     Bournemouth  Aston Villa     2     0   H     1     0
3  06/08/2022  15:00           Leeds       Wolves     2     1   H     1     1
4  06/08/2022  15:00       Newcastle   Nottingham     2     0   H     0     0

  HTR  ... HST  AST  HF  AF  HC  AC  HY  AY  HR  AR
0   A  ...   2    2  16  11   3   5   1   2   0   0
1   H  ...   3    4   7   9   4   4   2   0   0   0
2   H  ...   3    2  18  16   5   5   3   3   0   0
3   D  ...   4    6  13   9   6   4   2   0   0   0
4   D  ...  10    0   9  14  11   1   0   3   0   0

[5 rows x 23 columns]
         Date    HomeTeam        AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR  \
0  13/08/2021   Brentford         Arsenal     2     0   H     1     0   H
1  14/08/2021  Man United           Leeds     5     1   H     1     0   H
2  14/08/2021     Burnley        Brighton     1     2   A     1     0   H
3  14/08/2021     Chelsea  Crystal Palace     3     0   H     2     0   H
4  14/08/2021     Everton     Southampton     3     1   H     0     1   A

     Referee  ...  HST  AST  HF  AF  HC  AC  HY  AY  HR  AR
0   M Oliver  ...    3    4  12   8   2   5   0   0   0   0
1  P Tierney  ...    8    3  11   9   5   4   1   2   0   0
2    D Coote  ...    3    8  10   7   7   6   2   1   0   0
3     J Moss  ...    6    1  15  11   5   2   0   0   0   0
4   A Madley  ...    6    3  13  15   6   8   2   0   0   0

[5 rows x 22 columns]

In [18]:
df1.columns = df1.columns.str.lower().str.replace(" ", "_") #standardize column names
df2.columns = df2.columns.str.lower().str.replace(" ", "_")
df_home = pd.concat([df1, df2], ignore_index=True) #combine into one dataset

# save the merged dataset for future use
df_home.to_csv("merged_dataset.csv", index=False)

print(df_home.head())
df_home = df_home.drop(columns=['hthg', 'htag', 'htr', 'referee', 'hf', 'af', 'hy', 'ay', 'hr', 'ar', 'hc', 'ac'])#dont need
print(df_home.columns) #check column names before changing them

         date   time        hometeam     awayteam  fthg  ftag ftr  hthg  htag  \
0  05/08/2022  20:00  Crystal Palace      Arsenal     0     2   A     0     1
1  06/08/2022  12:30          Fulham    Liverpool     2     2   D     1     0
2  06/08/2022  15:00     Bournemouth  Aston Villa     2     0   H     1     0
3  06/08/2022  15:00           Leeds       Wolves     2     1   H     1     1
4  06/08/2022  15:00       Newcastle   Nottingham     2     0   H     0     0

  htr  ... hst  ast  hf  af  hc  ac  hy  ay  hr  ar
0   A  ...   2    2  16  11   3   5   1   2   0   0
1   H  ...   3    4   7   9   4   4   2   0   0   0
2   H  ...   3    2  18  16   5   5   3   3   0   0
3   D  ...   4    6  13   9   6   4   2   0   0   0
4   D  ...  10    0   9  14  11   1   0   3   0   0

[5 rows x 23 columns]
Index(['date', 'time', 'hometeam', 'awayteam', 'fthg', 'ftag', 'ftr', 'hs',
       'as', 'hst', 'ast'],
      dtype='object')

In [19]:
df_home = df_home.rename(columns={'date': 'date', 
                                 'time':'time', 
                                 'hometeam': 'team', 
                                 'awayteam': 'opponent', 
                                 'fthg': 'gf', 
                                 'ftag': 'ga', 
                                 'ftr': 'result',
                                 'hs': 'sh',
                                 'hst': 'sot',
                                 'as': 'sh_against',
                                 'ast': 'sot_against'})
print(df_home.columns)

Index(['date', 'time', 'team', 'opponent', 'gf', 'ga', 'result', 'sh',
       'sh_against', 'sot', 'sot_against'],
      dtype='object')

In [20]:
#we need a column to determine home or away. to do that, we will change "hometeam" to "team", "awayteam" to "opponent", and set all the values for
#the "venue" column to "home" then, create a copy of the dataset but with the teams' order swapped, and change all "home" to "away"
df_home["venue"] = "home"
print(df_home.head())

         date   time            team     opponent  gf  ga result  sh  \
0  05/08/2022  20:00  Crystal Palace      Arsenal   0   2      A  10
1  06/08/2022  12:30          Fulham    Liverpool   2   2      D   9
2  06/08/2022  15:00     Bournemouth  Aston Villa   2   0      H   7
3  06/08/2022  15:00           Leeds       Wolves   2   1      H  12
4  06/08/2022  15:00       Newcastle   Nottingham   2   0      H  23

   sh_against  sot  sot_against venue
0          10    2            2  home
1          11    3            4  home
2          15    3            2  home
3          15    4            6  home
4           5   10            0  home

In [21]:
def match_result(row):
    if row["result"] == 'H':
        return 1
    elif row["result"] == 'A':
        return -1
    else:
        return 0
df_home["result"] = df_home.apply(match_result, axis=1)
print(df_home.head())

         date   time            team     opponent  gf  ga  result  sh  \
0  05/08/2022  20:00  Crystal Palace      Arsenal   0   2      -1  10
1  06/08/2022  12:30          Fulham    Liverpool   2   2       0   9
2  06/08/2022  15:00     Bournemouth  Aston Villa   2   0       1   7
3  06/08/2022  15:00           Leeds       Wolves   2   1       1  12
4  06/08/2022  15:00       Newcastle   Nottingham   2   0       1  23

   sh_against  sot  sot_against venue
0          10    2            2  home
1          11    3            4  home
2          15    3            2  home
3          15    4            6  home
4           5   10            0  home

In [51]:
df_away = df_home.copy()

df_away['team'], df_away['opponent'] = df_away['opponent'],df_away['team']
df_away['gf'], df_away['ga'] = df_away['ga'], df_away['gf']
df_away['sh'], df_away['sh_against'] = df_away['sh_against'], df_away['gf']
df_away['sot'], df_away['sot_against'] = df_away['sot_against'], df_away['sot']

df_away['venue'] = 'away'

df_away["result"] = df_away["result"].map({-1:1, 1:-1, 0:0})

print(df_away.head())

         date   time         team        opponent  gf  ga  result  sh  \
0  05/08/2022  20:00      Arsenal  Crystal Palace   2   0       1  10
1  06/08/2022  12:30    Liverpool          Fulham   2   2       0  11
2  06/08/2022  15:00  Aston Villa     Bournemouth   0   2      -1  15
3  06/08/2022  15:00       Wolves           Leeds   1   2      -1  15
4  06/08/2022  15:00   Nottingham       Newcastle   0   2      -1   5

   sh_against  sot  sot_against venue
0           2    2            2  away
1           2    4            3  away
2           0    2            3  away
3           1    6            4  away
4           0    0           10  away

In [53]:
df = pd.concat([df_home, df_away], ignore_index=True) #combine home and away into one set

df.to_csv("merged_dataset.csv", index=False)

print(df.head(), df.tail())

         date   time            team     opponent  gf  ga  result  sh  \
0  05/08/2022  20:00  Crystal Palace      Arsenal   0   2      -1  10
1  06/08/2022  12:30          Fulham    Liverpool   2   2       0   9
2  06/08/2022  15:00     Bournemouth  Aston Villa   2   0       1   7
3  06/08/2022  15:00           Leeds       Wolves   2   1       1  12
4  06/08/2022  15:00       Newcastle   Nottingham   2   0       1  23

   sh_against  sot  sot_against venue
0          10    2            2  home
1          11    3            4  home
2          15    3            2  home
3          15    4            6  home
4           5   10            0  home               date time         team        opponent  gf  ga  result  sh  \
1515  22/05/2022  NaN   Man United  Crystal Palace   0   1      -1  10
1516  22/05/2022  NaN  Southampton       Leicester   1   4      -1   7
1517  22/05/2022  NaN       Wolves       Liverpool   1   3      -1   7
1518  22/05/2022  NaN  Aston Villa        Man City   2   3      -1   4
1519  22/05/2022  NaN    Tottenham         Norwich   5   0       1  19

      sh_against  sot  sot_against venue
1515           0    4            3  away
1516           1    2            6  away
1517           1    5            8  away
1518           2    2            5  away
1519           5   13            0  away

In [54]:
print(df.columns)

Index(['date', 'time', 'team', 'opponent', 'gf', 'ga', 'result', 'sh',
       'sh_against', 'sot', 'sot_against', 'venue'],
      dtype='object')

In [56]:
df.drop(columns=["sh_against","sot_against"],inplace= True)
print(df.columns)

Index(['date', 'time', 'team', 'opponent', 'gf', 'ga', 'result', 'sh', 'sot',
       'venue'],
      dtype='object')

In [57]:
df.to_csv("merged_dataset.csv", index=False)

In [59]:
team_name_mapping = {
    "Arsenal": "Arsenal",
    "Aston Villa": "Aston Villa",
    "Bournemouth": "Bournemouth",
    "Brentford": "Brentford",
    "Brighton": "Brighton",
    "Burnley": "Burnley",
    "Chelsea": "Chelsea",
    "Crystal Palace": "Crystal Palace",
    "Everton": "Everton",
    "Fulham": "Fulham",
    "Liverpool": "Liverpool",
    "Luton Town": "Luton Town",
    "Man City": "Manchester City",
    "Man United": "Manchester United",
    "Newcastle": "Newcastle United",
    "Nottingham": "Nottingham Forest",
    "Sheffield United": "Sheffield Unitetd",
    "Tottenham": "Tottenham Hotspur",
    "West Ham": "West Ham United",
    "Wolves": "Wolverhampton"
}
df["team"] = df["team"].replace(team_name_mapping)
df["opponent"] = df["opponent"].replace(team_name_mapping)
print(df.head(20))

          date   time               team           opponent  gf  ga  result  \
0   05/08/2022  20:00     Crystal Palace            Arsenal   0   2      -1
1   06/08/2022  12:30             Fulham          Liverpool   2   2       0
2   06/08/2022  15:00        Bournemouth        Aston Villa   2   0       1
3   06/08/2022  15:00              Leeds      Wolverhampton   2   1       1
4   06/08/2022  15:00   Newcastle United  Nottingham Forest   2   0       1
5   06/08/2022  15:00  Tottenham Hotspur        Southampton   4   1       1
6   06/08/2022  17:30            Everton            Chelsea   0   1      -1
7   07/08/2022  14:00          Leicester          Brentford   2   2       0
8   07/08/2022  14:00  Manchester United           Brighton   1   2      -1
9   07/08/2022  16:30    West Ham United    Manchester City   0   2      -1
10  13/08/2022  12:30        Aston Villa            Everton   2   1       1
11  13/08/2022  15:00            Arsenal          Leicester   4   2       1
12  13/08/2022  15:00           Brighton   Newcastle United   0   0       0
13  13/08/2022  15:00    Manchester City        Bournemouth   4   0       1
14  13/08/2022  15:00        Southampton              Leeds   2   2       0
15  13/08/2022  15:00      Wolverhampton             Fulham   0   0       0
16  13/08/2022  17:30          Brentford  Manchester United   4   0       1
17  14/08/2022  14:00  Nottingham Forest    West Ham United   1   0       1
18  14/08/2022  16:30            Chelsea  Tottenham Hotspur   2   2       0
19  15/08/2022  20:00          Liverpool     Crystal Palace   1   1       0

    sh  sot venue
0   10    2  home
1    9    3  home
2    7    3  home
3   12    4  home
4   23   10  home
5   18    8  home
6    8    4  home
7   14    5  home
8   17    5  home
9    6    1  home
10  12    4  home
11  19    7  home
12  13    7  home
13  19    7  home
14  14    4  home
15   7    1  home
16  13    7  home
17  13    6  home
18  16    3  home
19  24    4  home

In [60]:
df.to_csv("merged_dataset.csv", index=False)